.projectDetail {
  display: flex;
  align-items: center;
  flex-direction: column;

  .mainImage {
    width: 100%;
    height: auto;
    margin-bottom: 70px;

    @media (max-width: 800px) {
      margin-bottom: 35px;
    }
  }

  h1 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 50%;
    margin-left: 50%;
    font-size: 35px;
    font-weight: 500;
    line-height: 42px;
    color: var(--black);
    margin-bottom: 24px;

    @media (max-width: 800px) {
      width: 100%;
      margin-left: 0px;
    }
  }

  .infoRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 800px) {
      flex-direction: column;

      &.topRow {
        flex-direction: column-reverse;
      }
    }

    .infoRow_col {
      display: flex;
      flex-direction: column;
      flex: 1;

      .statsTable {
        display: inline-block;
        gap: 17px;

        @media (max-width: 800px) {
          display: inline-flex;
          justify-content: space-between;
        }

        p {
          display: inline-block;
          width: 50%;
          margin-bottom: 35px;

          @media (max-width: 800px) {
            width: auto;
          }

          &:first-child {
            width: 220px;

            @media (max-width: 800px) {
              width: auto;
            }
          }
        }

        .statsTable_item {
          display: flex;
          flex-direction: column;
          gap: 10px;
          font-size: 16px;
          font-weight: 500;
          line-height: 16.8px;
          color: var(--black);
          margin-bottom: 35px;

          &:last-child {
            margin-bottom: 0px;
          }

          span {
            opacity: 0.4;
          }
        }
      }

      p {
        font-size: 17px;
        font-weight: 500;
        line-height: 24px;
        color: var(--black);
        margin-bottom: 19px;

        &:last-child {
          margin-bottom: 70px;

          @media (max-width: 800px) {
            margin-bottom: 35px;
          }
        }
      }

      .anchorsBlock {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 130px;

        @media (max-width: 800px) {
          margin-top: 36px;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 11px;
        }

        .anchorsBlock_mobileTitle {
          display: none;
          font-size: 25px;
          font-weight: 500;
          line-height: 30px;
          text-align: left;
          color: var(--black);
          margin-bottom: 24px;

          @media (max-width: 800px) {
            display: block;
          }
        }

        .anchorsBlock_item {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: start;
          gap: 18px;
          text-decoration: none;
          color: var(--link-gray);
          transition: all ease 0.3s;
          cursor: pointer;
          font-weight: 500;
          font-size: 17px;

          @media (max-width: 800px) {
            flex: 1 1 calc(50% - 10px);
          }

          .smallArrowIcon {
            width: 15px;
            height: 15px;
          }

          &:hover {
            color: var(--orange);
            padding-left: 7px;

            .smallArrowIcon path {
              fill: var(--orange);
            }
          }
        }
      }

      .schemeImage {
        margin-bottom: 70px;
        cursor: pointer;

        @media (max-width: 800px) {
          margin-top: 29px;
          margin-bottom: 36px;
        }
      }

      h3 {
        font-size: 35px;
        font-weight: 500;
        color: var(--black);
        display: flex;
        flex-direction: row;
        align-items: start;
        margin-top: 65px;
        margin-bottom: 50px;

        @media (max-width: 800px) {
          margin-bottom: 20px;
        }

        &.topSection {
          margin-top: 10px;
        }
      }

      h4 {
        font-size: 17px;
        font-weight: 500;
        line-height: 24px;
        color: var(--black);
        margin-bottom: 60px;
        margin-top: 70px;

        @media (max-width: 800px) {
          margin-top: 20px;
          margin-bottom: 30px;
        }

        &.topSection {
          margin-top: 10px;
        }
      }
    }
  }

  .imagesTable {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 18px;

    .imagesTable_image {
      display: flex;
      flex: 1 1 calc(33.333% - 12px);
      max-width: calc(33.333% - 12px);
      cursor: pointer;

      @media (max-width: 600px) {
        flex: 1 1 100%;
        max-width: unset;
      }

      &.fullWidth {
        width: 100% !important;
        flex: 1 1 auto;
        max-width: unset;
      }
      
    }
  }

  .scrollToTopBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    bottom: 20vh;
    padding: 0 50px;
    max-width: 1440px;

    @media (max-width: 1480px) {
      padding: 0 95px;
    }

    &.showing {
      opacity: 1;
      pointer-events: all;
    }

    .scrollToTopBlock_button {
      transition: all ease 0.3s;
      cursor: pointer;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      border: 2px solid var(--black);
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--white);
      opacity: 1;

      .scrollToTopIcon {
        width: 18px;
        height: auto;
      }
    }
  }
}