.projectDetail {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 75px;

  .mainImage {
    width: 100%;
    height: auto;
    margin-bottom: 70px;

    @media (max-width: 800px) {
      margin-bottom: 35px;
    }
  }

  h1 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 50%;
    margin-left: 50%;
    font-size: 35px;
    font-weight: 400;
    line-height: 42px;
    color: var(--black);
    margin-bottom: 24px;

    &.noDescriptionPage {
      width: 100%;
      margin-left: 0px;
      margin-bottom: 62px;
    }

    @media (max-width: 1040px) {
      font-size: 30px;
      line-height: 42px;
    }

    @media (max-width: 800px) {
      width: 100%;
      margin-left: 0px;
      font-size: 33px;
      line-height: 46.2px;
      margin-bottom: 20px;
    }

    @media (max-width: 375px) {
      font-size: 30px;
      line-height: 42px;
    }
  }

  .infoRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 800px) {
      flex-direction: column;

      &.topRow {
        flex-direction: column-reverse;
      }
    }

    &.mobileSchemeBlock {
      align-items: center;

      &.noDescriptionPageScheme {
        margin-top: -433px;

        @media (max-width: 1040px) {
          margin-top: -402px;
          margin-bottom: 45px;
        }

        @media (max-width: 800px) {
          margin-top: 0px;
        }
      }

      @media (max-width: 800px) {
        flex-direction: column-reverse;
        align-items: unset;
      }
    }

    .infoRow_col {
      display: flex;
      flex-direction: column;
      flex: 1;

      .statsTable {
        display: inline-block;
        gap: 17px;

        @media (max-width: 800px) {
          display: inline-flex;
          justify-content: space-between;
        }

        p {
          display: inline-block;
          width: 50%;
          margin-bottom: 35px;

          @media (max-width: 1040px) {
            margin-bottom: 20px;
          }

          @media (max-width: 800px) {
            width: auto;
            margin-bottom: 40px;
          }

          &:first-child {
            width: 220px;

            @media (max-width: 1040px) {
              width: 160px;
            }

            @media (max-width: 800px) {
              width: auto;
            }
          }
        }

        .statsTable_item {
          display: flex;
          flex-direction: column;
          gap: 10px;
          font-size: 16px;
          font-weight: 400;
          line-height: 16.8px;
          color: var(--black);
          margin-bottom: 35px;
          height: 65px;

          @media (max-width: 1040px) {
            font-size: 13px;
            line-height: 18.2px;
            margin-bottom: 20px;
            gap: 4px;
          }

          @media (max-width: 800px) {
            font-size: 16px;
            line-height: 22.4px;
            margin-bottom: 37px;
            gap: 2px;
          }

          @media (max-width: 375px) {
            font-size: 14px;
            line-height: 19.6px;
            margin-bottom: 39px;
            gap: 4px;
          }

          &:last-child {
            margin-bottom: 0px;
          }

          span {
            opacity: 0.4;

            &.projectCategoryText {
              opacity: 1;
              max-width: 150px;

              @media (max-width: 800px) {
                max-width: 100px;
              }
            }
          }
        }
      }

      p {
        font-size: 17px;
        font-weight: 400;
        line-height: 24px;
        color: var(--black);
        margin-bottom: 19px;

        @media (max-width: 1040px) {
          font-size: 13px;
          line-height: 18.2px;
        }

        @media (max-width: 800px) {
          font-size: 16px;
          font-weight: 400;
          line-height: 22.4px;
          margin-bottom: 15px;
        }

        @media (max-width: 375px) {
          font-size: 14px;
          line-height: 19.6px;
        }

        &:last-child {
          margin-bottom: 0px;

          @media (max-width: 800px) {
            margin-bottom: 30px;
          }
        }
      }

      .anchorsBlock {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-bottom: 80px;

        @media (max-width: 800px) {
          margin-top: 40px;
          margin-bottom: 60px;
          padding-bottom: 0px;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 11px;
        }

        .anchorsBlock_item {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: start;
          gap: 18px;
          text-decoration: none;
          color: var(--link-gray);
          transition: all ease 0.3s;
          cursor: pointer;
          font-weight: 500;
          font-size: 17px;

          @media (max-width: 1040px) {
            font-size: 16px;
          }

          @media (max-width: 800px) {
            flex: 1 1 calc(50% - 10px);
          }

          @media (max-width: 800px) {
            gap: 11px;
            font-weight: 400;
          }

          @media (max-width: 375px) {
            font-size: 16px;
            line-height: 22.4px;
          }

          .smallArrowIcon {
            width: 15px;
            height: 15px;

            @media (max-width: 800px) {
              width: 12px;
              height: 12px;
            }
          }

          &:hover {
            color: var(--orange);
            padding-left: 7px;

            .smallArrowIcon path {
              fill: var(--orange);
            }

            @media (max-width: 800px) {
              color: var(--link-gray);
              padding-left: 0px;

              .smallArrowIcon path {
                fill: rgb(102, 102, 102);
              }
            }
          }
        }
      }

      .schemeImage {
        margin-bottom: 70px;
        cursor: pointer;

        @media (max-width: 800px) {
          margin-top: 0px;
          margin-bottom: 0px;
        }
      }

      h3 {
        font-size: 35px;
        font-weight: 400;
        color: var(--black);
        display: flex;
        flex-direction: row;
        align-items: start;
        margin-top: 65px;
        margin-bottom: 50px;

        @media (max-width: 1040px) {
          font-size: 30px;
        }

        @media (max-width: 800px) {
          margin-bottom: 30px;
          font-size: 33px;
          font-weight: 400;
          margin-top: 60px;
        }

        @media (max-width: 375px) {
          font-size: 30px;
        }

        &.topSection {
          margin-top: 10px;
        }
      }

      h4 {
        font-size: 17px;
        font-weight: 400;
        line-height: 24px;
        color: var(--black);
        margin-bottom: 60px;
        margin-top: 70px;

        @media (max-width: 1040px) {
          font-size: 13px;
          line-height: 18.2px;
        }

        @media (max-width: 800px) {
          margin-top: 0px;
          margin-bottom: 20px;
          font-size: 16px;
          font-weight: 400;
          line-height: 22.4px;
        }

        @media (max-width: 375px) {
          font-size: 14px;
          line-height: 19.6px;
        }

        &.topSection {
          margin-top: 10px;
        }
      }
    }
  }

  .imagesTable {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 18px;

    @media (max-width: 800px) {
      gap: 15px;
    }

    @media (max-width: 375px) {
      gap: 13px;
    }

    .imagesTable_image {
      display: flex;
      flex: 1 1 calc(33.333% - 12px);
      max-width: calc(33.333% - 12px);
      max-width: none;
      cursor: pointer;

      &.fullWidth {
        width: 100% !important;
        flex: 1 1 auto;
        max-width: none;
      }

      &.twoInRow {
        min-width: calc(50% - 12px);
        max-width: none;
      }
      
      @media (max-width: 600px) {
        flex: 1 1 100%;
        max-width: unset;
      }
    }
  }

  .scrollToTopBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    bottom: 20vh;
    padding: 0 20px;
    max-width: 1440px;

    @media (max-width: 1600px) {
      padding: 0 95px;
    }

    @media (max-width: 1000px) {
      padding: 0 30px;
    }

    &.showing {
      opacity: 1;
      pointer-events: all;
    }

    .scrollToTopBlock_button {
      transition: all ease 0.3s;
      cursor: pointer;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      border: 2px solid var(--black);
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--white);
      opacity: 1;

      @media (max-width: 1024px) {
        width: 45px;
        height: 45px;
      }

      .scrollToTopIcon {
        width: 18px;
        height: auto;

        @media (max-width: 1024px) {
          width: 15px;
        }
      }
    }
  }
}