.contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 100%;
  margin-top: 150px;

  .content {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;

    @media (max-width: 800px) {
      flex-direction: column;
      gap: 50px;
    }

    .infoBlock {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: end;
      flex: 1;
      font-size: 18px;
  
      &:first-child {
        align-items: start;
      }

      &:last-child {
        align-items: start;
        flex-direction: row;
        justify-content: end;
        gap: 90px;

        @media (max-width: 800px) {
          justify-content: space-between;
          flex-direction: column;
          gap: 40px;
        }
      }
  
      h1 {
        font-size: 35px;
        line-height: 42px;
        font-weight: 400;
        color: var(--black);
      }
  
      .infoBlock_col {
        display: flex;
        flex-direction: column;
        gap: 7px;
        color: var(--black);

        .infoBlock_col_row {
          display: flex;
          flex-direction: row;
          color: var(--black);

          a {
            text-decoration: none;
            position: relative;
            color: var(--black);
            
            &::after {
              content: '';
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 1px;
              background: var(--black);
              transform: scaleX(0);
              transition: transform 0.3s ease;
            }
      
            &:hover::after {
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }
}