.home {
  overflow: hidden;

  .slider {
    
    .slider_slide {
      height: calc(100vh - 137px - 26px);
    
      img {
        width: 100%;
        height: calc(100vh - 137px - 26px);
        overflow: hidden;
        object-position: center;
        object-fit: cover;
      }
    }
  }
  
}