.tabsBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 99px;
  margin-top: 90px;
  margin-bottom: 66px;

  .tabsBlock_item {
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    color: var(--black);
    transition: all ease 0.3s;
    opacity: 0.4;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
      opacity: 1;
    }

    &.selected {
      color: var(--orange);
      opacity: 1;

      &:hover {
        text-decoration: none;
        color: var(--orange);
      }
    }
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  row-gap: 30px;
  column-gap: 26px;
  margin-bottom: 90px;

  .projectCard {
    display: flex;
    flex-direction: column;
    transition: all ease 0.3s;
    cursor: pointer;
    text-decoration: none;
    flex: 1 1 calc(33.333% - 18px);
    box-sizing: border-box;
    max-width: calc(33.333% - 18px);

    &.disabled {
      user-select: none;
      pointer-events: none;
      cursor: auto;
    }

    &:last-child {
      margin-bottom: 50px;
    }

    &:hover {
      transform: scale(0.98);
    }

    @media (max-width: 1000px) {
      flex: 1 1 calc(50% - 18px);
    }
  
    @media (max-width: 600px) {
      flex: 1 1 100%;
    }

    img {

    }

    .projectCard_title {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 18px;

      span {
        font-weight: 400;
        font-size: 17px;
        line-height: 16.8px;
        color: var(--black);

        &:last-child {
          font-weight: 300;
          opacity: 0.4;
        }
      }
    }

    .projectCard_subtitle {
      font-weight: 300;
      font-size: 14px;
      line-height: 16.8px;
      color: var(--black);
      opacity: 0.4;
      margin-top: 4px;
    }
  }
}